<%- include('header') -%>
    <h2>This is the about page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut temporibus architecto animi. Atque alias, soluta
        totam
        harum, sapiente nemo maxime expedita magni reprehenderit perspiciatis obcaecati tenetur veniam exercitationem.
        Adipisci, dolore!</p>

    <%- include('footer') -%>