@font-face {
    font-family: 'Sacramento';
    src: url("../fonts/Sacramento/Sacramento-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather/Merriweather-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

body {
    margin: 0;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
}

h1 {
    margin: 50 auto 0 auto;
    font-family: 'Sacramento', serif;
    font-size: 7rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', serif;
    color: #66BFBF;
    font-weight: bolder;
}

hr {
    border: 6px dotted #EAF6F6;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}

span {
    text-decoration: underline;
}

.profile {
    padding-top: 20px;
}


/* An element with position: absolute is positioned relative to the nearest positioned container */

.top-cloud {
    position: absolute;
    right: 500px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    top: 450px;
    left: 25%;
}


/* With position: relative you are moving the element relative to its normal position */

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.boxes {
    width: 200px;
    height: 200px;
}


/* With float we can order to inline elements and make, for example, the text wrap an image. */

.hardware {
    width: 25%;
    float: left;
    padding-right: 30px;
}

.teamwork {
    width: 25%;
    float: right;
    padding-left: 30px;
}


/* 
Clear is the opposite of float, this prevents the text to not wrap the image.

.hardware-skill-description {
    clear: left;
}

.teamwork-skill-description {
    clear: right;
} */

.BUTTON_NYU {
    background: #64BDCB;
    background-image: -webkit-linear-gradient(top, #64BDCB, #5BC6CB);
    background-image: -moz-linear-gradient(top, #64BDCB, #5BC6CB);
    background-image: -ms-linear-gradient(top, #64BDCB, #5BC6CB);
    background-image: -o-linear-gradient(top, #64BDCB, #5BC6CB);
    background-image: -webkit-gradient(to bottom, #64BDCB, #5BC6CB);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    height: 30px;
    line-height: 30px;
    color: #FFFFFF;
    font-family: 'Montserrat', serif;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    padding: 6px;
    -webkit-box-shadow: 0 0 6px 0 #000000;
    -moz-box-shadow: 0 0 6px 0 #000000;
    box-shadow: 0 0 6px 0 #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 60px auto 100px auto;
}

.BUTTON_NYU:hover {
    border: solid #5AE0FF 1px;
    background: #64BDCB;
    background-image: -webkit-linear-gradient(top, #64BDCB, #5BC6CB);
    background-image: -moz-linear-gradient(top, #64BDCB, #5BC6CB);
    background-image: -ms-linear-gradient(top, #64BDCB, #5BC6CB);
    background-image: -o-linear-gradient(top, #64BDCB, #5BC6CB);
    background-image: -webkit-gradient(to bottom, #64BDCB, #5BC6CB);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px;
    font-family: 'Montserrat', serif;
    font-weight: bold;
}

.footer-link {
    margin: auto 25px auto 25px;
    color: #11999E;
    text-decoration: none;
    position: relative;
    top: 20px;
}

.footer-link:hover {
    color: #ffffff;
}

.footer-text {
    color: #EAF6F6;
    padding: 10px;
    position: relative;
    top: 40px;
    font-size: small;
}